# Virtual Environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# PyCharm
.idea/

# VS Code
.vscode/

# Environment
.env

# Uploads
uploads/*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# Mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Build
dist/
build/
*.egg-info/